:root {
  /* base */
  --color-base-gray0: #FFFFFF;
  --color-base-gray10: #FCFCFC;
  --color-base-gray20: #F6F6F6;
  --color-base-gray30: #F0F0F0;
  --color-base-gray50: #E4E4E5;
  --color-base-gray100: #C3C3C6;
  --color-base-gray200: #9D9DA4;
  --color-base-gray300: #808087;
  --color-base-gray400: #66666D;
  --color-base-gray500: #515159;
  --color-base-gray600: #3F3F47;
  --color-base-gray700: #2E2E35;
  --color-base-gray800: #202025;
  --color-base-gray900: #17181C;
  --color-base-gray950: #0F1012;

  --color-base-orange50: #FFECE5;
  --color-base-orange100: #FFCEBD;
  --color-base-orange200: #FFA480;
  --color-base-orange300: #FF834A;
  --color-base-orange400: #F77234;
  --color-base-orange500: #D4591C;
  --color-base-orange600: #AD4E17;
  --color-base-orange700: #853D11;
  --color-base-orange800: #5C2B0C;
  --color-base-orange900: #422109;
  --color-base-orange950: #2C1D18;

  --color-base-blue50: #CBE1FF;
  --color-base-blue100: #8FC0FF;
  --color-base-blue200: #619EFF;
  --color-base-blue300: #4485FF;
  --color-base-blue400: #346FFA;
  --color-base-blue500: #2C53DF;
  --color-base-blue600: #2649B3;
  --color-base-blue700: #253B8C;
  --color-base-blue800: #23306A;
  --color-base-blue900: #20274D;
  --color-base-blue950: #121A2B;

  --color-base-red50: #FFD1D3;
  --color-base-red100: #FFA8AD;
  --color-base-red200: #FF818B;
  --color-base-red300: #FA616D;
  --color-base-red400: #F04251;
  --color-base-red500: #CA2F3D;
  --color-base-red600: #9E2733;
  --color-base-red700: #7A242D;
  --color-base-red800: #562025;
  --color-base-red900: #3C2020;
  --color-base-red950: #2B191D;

  --color-base-green50: #CCFFEC;
  --color-base-green100: #82F6CB;
  --color-base-green200: #82F6CB;
  --color-base-green300: #26CF91;
  --color-base-green400: #16BF81;
  --color-base-green500: #13A06C;
  --color-base-green600: #138A5E;
  --color-base-green700: #136D4C;
  --color-base-green800: #13533C;
  --color-base-green900: #15372B;
  --color-base-green950: #182926;

  --color-base-yellow50: #FFF4D4;
  --color-base-yellow100: #FFE9B2;
  --color-base-yellow200: #FFDE8A;
  --color-base-yellow300: #FFCD59;
  --color-base-yellow400: #FFC234;
  --color-base-yellow500: #FFB326;
  --color-base-yellow600: #EBA01E;
  --color-base-yellow700: #B57B1D;
  --color-base-yellow800: #72531E;
  --color-base-yellow900: #534123;
  --color-base-yellow950: #312A1E;

  /* foreground */
  --color-fg-neutral-bold: var(--color-base-gray10);
  --color-fg-neutral-default: var(--color-base-gray100);
  --color-fg-neutral-default-disabled: var(--color-base-gray500);
  --color-fg-neutral-subtle: var(--color-base-gray300);
  --color-fg-neutral-ghost: var(--color-base-gray500);
  --color-fg-neutral-ghost-disabled: var(--color-base-gray700);
  --color-fg-neutral-inverse: var(--color-base-gray950);

  --color-fg-brand-default: var(--color-base-orange400);

  --color-fg-secondary-default: var(--color-base-blue400);

  --color-fg-success-bold: var(--color-base-green100);
  --color-fg-success-default: var(--color-base-green400);
  --color-fg-success-subtle: var(--color-base-green600);

  --color-fg-danger-bold: var(--color-base-red100);
  --color-fg-danger-default: var(--color-base-red400);
  --color-fg-danger-subtle: var(--color-base-red600);

  --color-fg-attention-bold: var(--color-base-yellow200);
  --color-fg-attention-default: var(--color-base-yellow400);
  --color-fg-attention-subtle: var(--color-base-yellow600);

  --color-fg-information-default: var(--color-base-blue400);
  --color-fg-information-subtle: var(--color-base-blue600);

  /* background */
  --color-bg-neutral-inverse: var(--color-base-gray10);
  --color-bg-neutral-inverse-hover: var(--color-base-gray100);
  --color-bg-neutral-inverse-pressed: var(--color-base-gray100);
  --color-bg-neutral-bold: var(--color-base-gray500);
  --color-bg-neutral-bold-disabled: var(--color-base-gray700);
  --color-bg-neutral-default: var(--color-base-gray600);
  --color-bg-neutral-default-hover: var(--color-base-gray500);
  --color-bg-neutral-default-pressed: var(--color-base-gray500);
  --color-bg-neutral-default-disabled: var(--color-base-gray800);
  --color-bg-neutral-subtle: var(--color-base-gray700);
  --color-bg-neutral-subtle-hover: var(--color-base-gray600);
  --color-bg-neutral-subtle-pressed: var(--color-base-gray600);
  --color-bg-neutral-ghost: var(--color-base-gray800);
  --color-bg-neutral-ghost-hover: var(--color-base-gray700);
  --color-bg-neutral-ghost-pressed: var(--color-base-gray700);

  --color-bg-brand-default: var(--color-base-orange400);
  --color-bg-brand-subtle: var(--color-base-orange700);
  --color-bg-brand-ghost: var(--color-base-orange950);

  --color-bg-secondary-default: var(--color-base-blue400);
  --color-bg-secondary-default-hover: var(--color-base-blue500);
  --color-bg-secondary-default-pressed: var(--color-base-blue600);
  --color-bg-secondary-subtle: var(--color-base-blue900);
  --color-bg-secondary-ghost: var(--color-base-blue950);

  --color-bg-information-ghost: var(--color-base-blue950);

  --color-bg-success-ghost: var(--color-base-green950);

  --color-bg-danger-default: var(--color-base-red400);
  --color-bg-danger-default-hover: var(--color-base-red500);
  --color-bg-danger-default-pressed: var(--color-base-red600);
  --color-bg-danger-ghost: var(--color-base-red950);

  --color-bg-dim-default: rgba(15, 16, 18, 0.8);

  /* stroke */
  --color-stroke-neutral-default: var(--color-base-gray600);
  --color-stroke-neutral-default-focused: var(--color-base-gray200);
  --color-stroke-neutral-default-disabled: var(--color-base-gray700);
  --color-stroke-neutral-inverse: var(--color-base-gray10);
  --color-stroke-neutral-subtle: var(--color-base-gray700);
  --color-stroke-neutral-ghost: var(--color-base-gray800);

  --color-stroke-brand-default: var(--color-base-orange400);
  --color-stroke-brand-subtle: var(--color-base-orange600);

  --color-stroke-secondary-default: var(--color-base-blue400);
  --color-stroke-secondary-subtle: var(--color-base-blue600);

  --color-stroke-information-subtle: var(--color-base-blue600);

  --color-stroke-danger-default: var(--color-base-red400);
}
